{% extends "blogs/_base.html" %}
{% block title %}О себе Мой первый сайт{% endblock title %}
{% block content %}
                  <!-- content -->
      	<div class="row">
      		<h2>Привет мир</h2>	
      		<ul>
      			{% for blog in blogs %}
      				<li>{{blog.name}} author:{{blog.author.name}} publication_date{{blog.publication_date}}</li>
      			{% endfor %}
      		</ul>
                  <div class="mb-4 mx-auto">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:8000">1</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:8000/user">2</a></li>
                            <li class="page-item"><a class="page-link" href="http://localhost:8000/first_blog">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                  </div>
      	</div>
                  <!-- endcontent -->        
{% endblock content %}


