{% extends "blogs/_base.html" %}

{% block content %}
	<div class="row">	
		<p>	{{first_blog}}
		</p>
		<div class="mb-4 mx-auto">
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
			    <li class="page-item"><a class="page-link" href="http://localhost:8000">1</a></li>
			    <li class="page-item"><a class="page-link" href="http://localhost:8000/user">2</a></li>
			    <li class="page-item"><a class="page-link" href="http://localhost:8000/first_blog">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">Next</a></li>
			  </ul>
			</nav>
		</div>
	</div>



{% endblock content %}