{% extends "blogs/_base.html" %}

{% block content %}





<div class="decr_page col-xl-6 col-lg-3 col-md-4 col-sm-12 mt-5 ms-0">
			

		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active" data-bs-interval="10000">
		      <img src="static/blogs/img/red_phone_caroosel.jpg" class="d-block mx-auto" alt="...">
		      <div class="carousel-caption d-none d-md-block">
		        <p></p>
		      </div>
		    </div>
		    <div class="carousel-item" data-bs-interval="2000">
		      <img src="static/blogs/img/red_phone_caroosel2.jpg" class="d-block mx-auto" alt="...">
		      <div class="carousel-caption d-none d-md-block">
		        <p></p>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <img src="static/blogs/img/red_phone_caroosel3.jpg" class="d-block mx-auto" alt="...">
		      <div class="carousel-caption d-none d-md-block">
		        <p></p>
		      </div>
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Предыдущий</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Следующий</span>
		  </button>
		</div>
		<div class=" col-lg-5 mr-5 ">
		<p class="card-text fs-1">iPhone 13 PRO</p>
		<p class="card-text fs-2">Цена 70200</p>
		   <a href="#" class="btn btn-danger fs-2">КУПИТЬ</a>			  
			 
			  </div>
			</div>
		</div>

</div>
<div class=" col-lg-5 mx-auto">
<p class="card-text fs-1">iPhone 13 PRO</p>
	<div class="card">
	  <div class="card-body"> 
	    <h5 class="card-title fs-2">Характеристики:</h5>
	    <p class="card-text fs-3">Количество мегапикселей основной камеры телефона: 12+12Тип процессора телефона: Apple A15 BionicДатчики и сенсоры телефона: разблокировка по лицу, освещенности приближения, гироскоп, компас, считывание отпечатка пальца, акселерометр, барометр
	Смартфон Apple IPhone обладает хорошей камерой на 12+12 Мп. Объем встроенной памяти составляет 128 Gb. Смартфон имеет возможность беспроводной зарядки. Функция быстрой зарядки пригодится пользователям, которые ценят свое время. Поддержка диапазона 4G даст вам возможность пользоваться быстрым интернетом.</p>
	  </div>
	</div>
</div>









{% endblock content %}
